.riskMatrix {
    text-align: center;
    font-size: 11px;
}

.matrixHeader {
    font-weight: bold;
    margin-bottom: 10px;
}

.matrixTable {
    border-collapse: collapse;
    margin: auto;
    width: auto;
    /* Ensure the table width is auto */
    table-layout: auto !important;
    /* Override Ant Design's table-layout */
}

.matrixTable th,
.matrixTable td {
    border: 1px solid #423f3f;
    padding: 4px;
    text-align: center;
    white-space: normal;
    /* Allow wrapping */
    overflow: visible;
    /* Show the overflow text */
}

@keyframes iconAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.iconHighlighted {
    animation: iconAnimation 1s infinite;
}

.highlighted {
    /* Add any additional styles for highlighted cells */
}