/* CustomInput.css */
.custom-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.custom-input-label {
    font-weight: bold;
    margin-bottom: 4px;
}

.custom-input-field {
    flex-grow: 1;
}

.error-message {
    color: red;
    margin-top: 4px;
}